._.DS_Store
.DS_Store
.osiris_pid
.shutdown_pid
.terminal
build-impl.xml~
Thumbs.db
*.lnk

/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/.terminal
/**/Thumbs.db
/client/rameses-gov-epayment/nbproject/private/
/client/rameses-gov-epayment/build/
/client/rameses-gov-epayment/dist/
/client/rameses-gov-epayment-report/build/
/client/rameses-gov-epayment-report/dist/